#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: jmayser # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCYcL/13GFbmBEVZSEwA2kU9w21NeukKVgOF1McDPdf0C8jdIfDihado/JVMiIr3nK5F6Bcx4CRO8RJ0wQARoNbYvQd1VHS8agd6Va9AGrcucNGak+xXlCZRqpFGiDj6UoaGvrfXcuR1YLlft0xWTYEMANbQjqejnnQ96rlka9wNCPC+AEvGWErdYdJBKtg3n6VY37UkU6z+bzRRjMWGadgPmcQsp7fPsN4s05Nv03CQbkkHpxwrCB8YZVYImCrUhzERfqrml7bOimi/a7W9mFdtL0lLx7EYpxMayjmWx/4OjYZKdWW70GB4ieJdXuHcIRDl2/JFm0a+CUUwuaxcqgN5cbtBalth0kj9rjZ3Rq2JlSe8Bym3xNbbPsNMeZDhWsF+W1ClpGgov5qfLMxMWxtx1CUOcyzmYvfV4BVELctitbpiOE/Oc6xKnYP+PdfXohScs30KG/GR631CY/t0LbRMBG5EqNHtcj32A02pp40ILx07Nm8+0Hg9MlRCuC+e8c= jmayser@josevasquez
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
